<!-- INFO: una tabla generica pára mostrar informacion recibe: headers y data para crear la tabla -->


<!--Ejemplo tabla con DataTables-->
<div class="container-fluid" style="margin-right: 2%;margin-left: 2%;">
    <div>
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Filtro</label>
                    <input type="text" class="form-control mb-2" id="filtro" placeholder="Filtro">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" id="buscar">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive" id='table'>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <% headers.map( header=>{ %>
                                <th>
                                    <%=header%>
                                </th>
                                <% }) %>
                        </tr>
                    </thead>
                    <tbody>
                        <% rows.map( columns =>{ %>
                            <tr>
                                <% columns.map( field => { %>
                                    <td>
                                        <%=field%>
                                    </td>
                                    <% }) %>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    let btn = document.getElementById("buscar");
    let filter = document.getElementById("filtro");

    function search() {
        let filterValue = filter.value;
        if (filterValue) {
            console.log("Filtering with: %s", filterValue);
            window.location.href = '/table?buscar=' + filterValue; //relative to domain
        }
    }

    btn.addEventListener("click", search());
</script>